@model User
@{
    ViewData["Title"] = "My Preferences";
}

<section>
    <div class="container mt-4">
        <h2>My Preferences</h2>
        <hr />

        <form>
            <!-- Shipping Address -->
            <fieldset disabled>
                <legend>Default Shipping Address:</legend>
                @if (Model.ShippingAddresses.Count > 0)
                {
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="fullName" value="@Model.ShippingAddresses.FirstOrDefault().FullName">
                        </div>
                        <div class="col-md-6">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phoneNumber" value="@Model.ShippingAddresses.FirstOrDefault().Phone">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="addressLine1" class="form-label">Address Line 1</label>
                        <input type="text" class="form-control" id="addressLine1" value="@Model.ShippingAddresses.FirstOrDefault().Address">
                    </div>
                    <div class="mb-3">
                        <label for="addressLine2" class="form-label">Address Line 2</label>
                        <input type="text" class="form-control" id="addressLine2" value="@Model.ShippingAddresses.FirstOrDefault().Address2">
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" value="@Model.ShippingAddresses.FirstOrDefault().City">
                        </div>
                        <div class="col-md-6">
                            <label for="province" class="form-label">Province</label>
                            <input type="text" class="form-control" id="province" value="@Model.ShippingAddresses.FirstOrDefault().Province">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="postalCode" class="form-label">Postal Code</label>
                            <input type="text" class="form-control" id="postalCode" value="@Model.ShippingAddresses.FirstOrDefault().PostalCode">
                        </div>
                        <div class="col-md-6">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country" value="@Model.ShippingAddresses.FirstOrDefault().Country">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="deliveryInstructions" class="form-label">Delivery Instructions</label>
                        <textarea class="form-control" id="deliveryInstructions" rows="3">@Model.ShippingAddresses.First().DeliveryInstructions</textarea>
                    </div>
                }
                else
                {
                    <p>None</p>
                }

                <!--Favourite Platform-->
                <div class="mb-3">
                    <legend>Favourite Platforms:</legend>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            @if (Model.Platforms.Count == 0)
                            {
                                <p>None</p>
                            }
                            else
                            {
                                @foreach (var platform in Model.Platforms)
                                {
                                    <p>@platform.Platform.PlatformName</p>
                                }
                            }
                            
                        </div>
                    </div>
                </div>

                <!-- Favourite Genre -->
                <div class="mb-3">
                    <legend>Favourite Genres:</legend>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            @if (Model.Genres.Count == 0)
                            {
                                <p>None</p>
                            }
                            else
                            {
                                @foreach (var genre in Model.Genres)
                                {
                                    <p>@genre.Genre.GenreName</p>
                                }
                            }
                            
                        </div>
                    </div>
                </div>

                <!-- Preferred Language -->
                <div class="mb-3">
                    <legend>Preferred Languages:</legend>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            @if (Model.Languages.Count == 0)
                            {
                                <p>None</p>
                            }
                            else
                            {
                                @foreach (var lang in Model.Languages)
                                {
                                    <p>@lang.Language.LanguageName</p>
                                }
                            }
                            
                        </div>
                    </div>
                </div>

            </fieldset>

            <!--Edit Button-->
            <div class="row justify-content-start">
                <div class="col-3">
                    <a class="dropdown-item nav-link nav-link-snow nav-link-snow-active col-3 text-uppercase fw-bold text-center" asp-action="EditPreferences" asp-controller="Home" asp-route-username="@User.Identity.Name">Edt</a>
                </div>
                
            </div>
            
        </form>
    </div>
</section>