@model AddressViewModel;
@{
    ViewData["Title"] = "My Addresses";
}

<!--Shipping Addresses Card-->
<div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8 col-12">
        <div class="card shadow bg-night text-snow-bright my-4">
            <div class="row text-start p-2 m-0 bg-shade">
                <h4 class="card-title text-uppercase fw-bold">My Addresses</h4>
            </div>
            <div class="card-body bg-night">
                <div class="form-group">
                    <div class="row justify-content-start">

                        <!-- All Addresses -->
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-6 col-xl-4 mt-3">
                                    <div class="row h-100 p-0 m-0">
                                        @if (Model.ShippingAddresses.Count == 0)
                                        {
                                            <a role="button" class="col-12 ratio ratio-1x1 btn btn-frost-primary-outline bg-shade text-uppercase" asp-action="NewAddress" asp-controller="Account">

                                                <div class="row justify-content-center align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle-fill p-0 me-2 col-auto" viewBox="0 0 16 16">
                                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                                    </svg>
                                                    <p class="p-0 m-0 col-auto">Add Address</p>

                                                </div>

                                            </a>
                                        }
                                        else
                                        {
                                            <a role="button" class="col-12 btn btn-frost-primary-outline bg-shade text-uppercase" asp-action="NewAddress" asp-controller="Account">

                                                <div class="row justify-content-center h-100 align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle-fill p-0 me-2 col-auto" viewBox="0 0 16 16">
                                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                                    </svg>
                                                    <p class="p-0 m-0 col-auto">Add Address</p>

                                                </div>

                                            </a>
                                        }
                                    </div>
                                </div>
                                @foreach (var a in Model.ShippingAddresses.Where(ad => ad.IsDefault == true))
                                {
                                    <div class="col-6 col-xl-4 mt-3">
                                        <div class="row bg-shade rounded rounded-3 p-0 m-0 ">
                                            <div class="p-2 m-0 col-12">

                                                <div class="row p-0 m-0 ratio ratio-4x3">
                                                    <div class="col-12 p-0 m-0 overflow-hidden">
                                                        <div class="row p-0 m-0">
                                                            <p class="fw-bold text-uppercase mb-1">Default</p>
                                                            <hr class="mb-1">
                                                            <p class="m-0 fw-bold mt-2">@a.FullName</p>
                                                            <p class="m-0 small">@a.Address @a.Address2</p>
                                                            <p class="m-0 small">@a.City, @a.Province @a.PostalCode</p>
                                                            <p class="m-0 small">@a.Country</p>
                                                            <p class="m-0 small">@a.Phone</p>
                                                            <p class="m-0 small">@a.DeliveryInstructions</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row p-2 m-0">
                                                    <a class="col-auto link-frost-primary p-0" asp-controller="Account" asp-action="EditAddress" asp-route-addressId="@a.ShippingAddressId">Edit</a>
                                                    <div class="vr d-flex h-100 mx-2 mt-1 p-0 text-snow-deep"></div>
                                                    <a class="col-auto link-frost-primary p-0" asp-action="DeleteAddress" asp-route-addressId="@a.ShippingAddressId">Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @foreach (var a in Model.ShippingAddresses.Where(ad => ad.IsDefault == false))
                                {
                                    <div class="col-6 col-xl-4 mt-3">
                                        <div class="row bg-shade rounded rounded-3 p-0 m-0 ">
                                            <div class="p-2 m-0 col-12">

                                                <div class="row p-0 m-0 ratio ratio-4x3">
                                                    <div class="col-12 p-0 m-0 overflow-hidden">
                                                        <div class="row p-0 m-0">
                                                            <p class="m-0 fw-bold mt-2">@a.FullName</p>
                                                            <p class="m-0 small">@a.Address @a.Address2</p>
                                                            <p class="m-0 small">@a.City, @a.Province @a.PostalCode</p>
                                                            <p class="m-0 small">@a.Country</p>
                                                            <p class="m-0 small">@a.Phone</p>
                                                            <p class="m-0 small">@a.DeliveryInstructions</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row p-2 m-0">
                                                    <a class="col-auto link-frost-primary p-0" asp-controller="Account" asp-action="EditAddress" asp-route-addressId="@a.ShippingAddressId">Edit</a>
                                                    <div class="vr d-flex h-100 mx-2 mt-1 p-0 text-snow-deep"></div>
                                                    <a class="col-auto link-frost-primary p-0" asp-controller="Account" asp-action="DeleteAddress" asp-route-addressId="@a.ShippingAddressId">Remove</a>
                                                    <div class="vr d-flex h-100 mx-2 mt-1 p-0 text-snow-deep"></div>
                                                    <a class="col-auto link-frost-primary p-0" asp-controller="Account" asp-action="UpdateDefaultAddress" asp-route-addressId="@a.ShippingAddressId">Set as Default</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <a class="btn btn-aurora-red-outline text-uppercase fw-bold col-3 p-2 mx-3" asp-action="ViewProfile" asp-controller="Account" asp-route-username="@Model.Username">Back</a>
                    </div>

                    <input type="hidden" value="@Model.UserId" asp-for="UserId" id="UserId" />
                    <input type="hidden" value="@Model.Username" asp-for="Username" id="ProfileId" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/addresses.js" asp-append-version="true"></script>
