@model CartViewModel

<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model.ShoppingCart.Items)
    {
        <tr>
            <td>@item.Game.Name</td>
            <td>@item.Quantity</td>
            <td>@item.Game.RetailPrice</td>
            <td>
                @* @Html.ActionLink("Update", "UpdateCart", "Cart", new { productId = item.GameId, userId = User.Identity.Name, quantity = item.Quantity }, null)
                @Html.ActionLink("Remove", "RemoveFromCart", "Cart", new { productId = item.GameId, userId = User.Identity.Name }, null) *@
            </td>
        </tr>
    }
    <tr>
        <td colspan="3"></td>
        <td>Total: </td>
        <td></td>
    </tr>
</table>
