@model ShippingAddress;
@{
    ViewData["Title"] = "Edit Address";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<!--Shipping Addresses Card-->
<div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8 col-12">
        <div class="card shadow bg-night text-snow-bright my-4">
            <div class="row text-start p-2 m-0 bg-shade">
                <h4 class="card-title text-uppercase fw-bold">Edit Shipping Address</h4>
            </div>
            <div class="card-body bg-night">
                <div asp-validation-summary="ModelOnly" class="text-aurora-red"></div>
                <form asp-action="SaveAddress" asp-route-addressId="@Model.ShippingAddressId" asp-controller="Account" method="post">
                    <div class="form-group">
                        <div class="row justify-content-start">

                            <!--Default Address-->
                            <div class="mb-4">
                                <div class="p-1 my-2 col-auto selected-list">
                                    <div class="row justify-content-center p-0 m-0">
                                        <div class="col-8 p-0 m-0">
                                            <div class="row mb-3">
                                                <div class="col-sm-6">
                                                    <label for="fullName" class="form-label fw-bold text-uppercase text-snow-deep">Full Name</label>
                                                    <input type="text" class="form-control" id="fullName" asp-for="FullName" value="@Model.FullName">
                                                    <span asp-validation-for="@Model.FullName" class="text-aurora-red"></span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="phoneNumber" class="form-label fw-bold text-uppercase text-snow-deep">Phone Number</label>
                                                    <input type="text" class="form-control" id="phoneNumber" asp-for="Phone" value="@Model.Phone">
                                                    <div class="row">
                                                        <span asp-validation-for="Phone" class="text-aurora-red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="addressLine1" class="form-label fw-bold text-uppercase text-snow-deep">Address Line 1</label>
                                                <input type="text" class="form-control" id="addressLine1" asp-for="Address" value="@Model.Address">
                                                <div class="row">
                                                    <span asp-validation-for="Address" class="text-aurora-red"></span>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="addressLine2" class="form-label fw-bold text-uppercase text-snow-deep">Address Line 2</label>
                                                <input type="text" class="form-control" id="addressLine2" asp-for="Address2" value="@Model.Address2">
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label for="city" class="form-label fw-bold text-uppercase text-snow-deep">City</label>
                                                    <input type="text" class="form-control" id="city" asp-for="City" value="@Model.City">
                                                    <div class="row">
                                                        <span asp-validation-for="City" class="text-aurora-red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="province" class="form-label fw-bold text-uppercase text-snow-deep">Province</label>
                                                    <select class="form-select" id="province" asp-for="Province" value="@Model.Province">
                                                        <option></option>
                                                        <option value="Alberta">Alberta</option>
                                                        <option value="British Columbia">British Columbia</option>
                                                        <option value="Manitoba">Manitoba</option>
                                                        <option value="New Brunswick">New Brunswick</option>
                                                        <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                                                        <option value="Northwest Territories">Northwest Territories</option>
                                                        <option value="Nova Scotia">Nova Scotia</option>
                                                        <option value="Nunavut">Nunavut</option>
                                                        <option value="Ontario">Ontario</option>
                                                        <option value="Prince Edward Island">Prince Edward Island</option>
                                                        <option value="Quebec">Quebec</option>
                                                        <option value="Saskatchewan">Saskatchewan</option>
                                                        <option value="Yukon">Yukon</option>
                                                    </select>
                                                    <div class="row">
                                                        <span asp-validation-for="Province" class="text-aurora-red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="postalCode" class="form-label fw-bold text-uppercase text-snow-deep">Postal Code</label>
                                                    <input type="text" class="form-control" id="postalCode" asp-for="PostalCode" value="@Model.PostalCode">
                                                    <div class="row">
                                                        <span asp-validation-for="PostalCode" class="text-aurora-red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">

                                                <div class="col-md-6">
                                                    <label for="country" class="form-label fw-bold text-uppercase text-snow-deep">Country<sup class="secondary"> *</sup></></label>
                                                    <input type="text" disabled class="form-control bg-white bg-opacity-50 text-night-bright" id="country" asp-for="Country" value="@Model.Country">
                                                    <div class="row">
                                                        <span asp-validation-for="Country" class="text-aurora-red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="deliveryInstructions" class="form-label fw-bold text-uppercase text-snow-deep">Delivery Instructions</label>
                                                <textarea class="form-control" asp-for="DeliveryInstructions" id="deliveryInstructions" rows="3">@Model.DeliveryInstructions</textarea>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="form-group mb-3 col-12 py-3">
                                                    <input asp-for="IsDefault" class="form-check-input" type="checkbox" id="IsDefault">
                                                    <label class="form-check-label fw-bold text-uppercase text-snow-deep ps-1" asp-for="IsDefault">
                                                        Set as Default
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <p class="small text-uppercase fw-bold m-0 text-secondary"><sup>* </sup>Shipping available to Canadian residents only</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-end">
                            <a class="btn btn-aurora-red-outline text-uppercase fw-bold col-3 p-2 mx-3" asp-action="ViewAddresses" asp-controller="Account">Cancel</a>
                            <button type="submit" class="btn btn-frost-primary col-3 p-2 mx-3 text-uppercase">Save</button>
                        </div>

                        <input type="hidden" value="@Model.UserId" asp-for="UserId" id="UserId" />
                        <input type="hidden" value="@Model.ShippingAddressId" asp-for="ShippingAddressId" id="ShippingAddressId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
